# Analyzing eBay Kleinanzeigen (German eBay)

This project will demonstrate data cleaning and analysis techniques in Python. Although the original dataset is available in Kaggle and downloaded to this GitHub repo, Dataquest used a sample of 50,000 points and made it messier for practice.

In [108]:
# Before anything else, we need to read the data in from the specified
# CSV file, testing different encodings to ensure it's read correctly.

import pandas as pd
import numpy as  np

autos = pd.read_csv("autos.csv", encoding = "Latin-1")

In [109]:
# We will then view the data to see what sorts of things it includes.

autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

That's a bit hard to read and parse... Let's look at a few parts in greater detail.

# Preliminary data investigation

In [110]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

When we see 50,000 entries total with many of the columns having less than 50,000 non-null entries, we observe that some null values exist. We'll quickly see what a few rows of the dataset look like, and get an idea of the proportion of null values.

In [111]:
autos.head(2)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08

In [112]:
# Check what sort of null values exist
nullValues    = autos.isnull().sum()
notNullValues =  autos.notnull().sum()

proportionNullValues = nullValues/(notNullValues+nullValues)*100
print(proportionNullValues)

dateCrawled             0.000
name                    0.000
seller                  0.000
offerType               0.000
price                   0.000
abtest                  0.000
vehicleType            10.190
yearOfRegistration      0.000
gearbox                 5.360
powerPS                 0.000
model                   5.516
odometer                0.000
monthOfRegistration     0.000
fuelType                8.964
brand                   0.000
notRepairedDamage      19.658
dateCreated             0.000
nrOfPictures            0.000
postalCode              0.000
lastSeen                0.000
dtype: float64

It appears that the data contains 20 columns, which are mostly strings (although we'll need to convert some of these to numerics to do more processing on them.) "notRepairedDamage" and "vehicleType" contain the most null values, so we'll definitely need to look at those in more detail.

# Cleaning Column Names

In [113]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

Part of the exercise requests converting these column names to snakeCase, which I don't like as much as camelCase, but I'll do it for the practice.

In [114]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_pictures', 'postal_code',
       'last_seen']
autos.head(2)

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08

# Initial Data Investigation and Cleaning

In [115]:
autos.describe(include="all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-11 22:38:16,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Initially we'll look for text columns where almost all or all values are the same. These can often be dropped as they do not have useful information for analysis.
Some useful methods include:
* DataFrame.describe() with include ="all" to get categorical and numeric columns
* Series.value_counts()
* Series.head()

Any columns that have mostly one value should be dropped. Numeric data that is stored as text needs to be cleaned. (Ex: "price" and "odometer.") Price has a "$" that isn't necessary, and we might want to filtere out "free" cars anyway. Similarly, odometer has "km" at the end, which isn't helpful for doing comparisons.

It looks like some text columns (seller, offer_type, num_photos) basically all contain the same value. We'll drop these.

In [116]:
autps = autos.drop(["num_pictures","seller","offer_type"], axis=1)

In [117]:
autos["price"] = autos["price"].str.replace("$","").str.replace(",","").astype(int)
autos["odometer"] = autos["odometer"].str.replace("km","").str.replace(",","").astype(int)

In [118]:
autos = autos.rename(index=str, columns={"odometer" : "odometer_km"})

In [119]:
autos["odometer_km"].value_counts()

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

We will continue to analyze the odometer_km and price columns as follows:
* Use minimum and maximum values to look for any values that look unrealistically high or low that we might want to remove.
* Use Series.unique.shape() to see how many unique values there are.
* Use Series.value_counts() chained to .head() if lots of values and/or sort_index to sort ascending or descending

In [120]:
minPrice = autos["price"].min()
maxPrice = autos["price"].max()
print("Minimum and maximum prices for cars are " + str(minPrice) + " and " + str(maxPrice))

Minimum and maximum prices for cars are 0 and 99999999

In [121]:
minKm = autos["odometer_km"].min()
maxKm = autos["odometer_km"].max()
print("Minimum and maximum km on odometers for cars are " + str(minKm) + " and " + str(maxKm))

Minimum and maximum km on odometers for cars are 5000 and 150000

In [122]:
autos["registration_year"].describe()

count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [123]:
# Free cars aren't really what we're going for here... Although you could start bidding at $1 I guess.
# Or completely absurd overpriced ones
autos_cleaned = autos[autos.price.between(1, 350000)]

# If the registration year is in the future (data set ends at 2016), that's a typo.
# Similarly, we also don't want super old cars. 
# Anything more than 20 years old is too old for sure.
autos_cleaned = autos_cleaned[autos_cleaned.registration_year.between(1999,2016)]

In [124]:
autos_cleaned.describe()

,price,registration_year,powerPS,odometer_km,registration_month,num_pictures,postal_code
count,36360.000000,36360.000000,36360.000000,36360.000000,36360.000000,36360.0,36360.000000
mean,6921.360451,2005.537074,124.452338,122945.819582,5.952998,0.0,51514.286744
std,9397.072755,4.602175,203.734770,40829.137079,3.620523,0.0,25500.235285
min,1.000000,1999.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1850.000000,2002.000000,75.000000,100000.000000,3.000000,0.0,31195.000000
50%,4100.000000,2005.000000,116.000000,150000.000000,6.000000,0.0,50739.000000
75%,8888.000000,2009.000000,150.000000,150000.000000,9.000000,0.0,72124.000000
max,350000.000000,2016.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

In [142]:
# Confirm that the columns were filtered appropriately
(autos_cleaned["price"]
            .value_counts()
            .sort_index(ascending=False)
)

350000     1
345000     1
295000     1
265000     1
259000     1
250000     1
220000     1
198000     1
194000     1
190000     1
180000     1
175000     1
169999     1
169000     1
163991     1
163500     1
155000     1
151990     1
139997     1
137999     1
135000     1
119900     1
116000     1
115991     1
115000     1
114400     1
109999     1
105000     1
104900     1
99000      1
          ..
75         3
70         5
65         5
60         4
59         1
55         1
50        22
49         2
47         1
45         2
40         3
35         1
30         2
29         1
25         4
20         3
18         1
17         3
15         1
14         1
13         1
12         2
11         1
10         4
9          1
8          1
5          1
3          1
2          1
1         84
Name: price, Length: 2189, dtype: int64

In [140]:
(autos_cleaned["registration_year"]
                .value_counts()
                .sort_index(ascending=False)
)

2016    1220
2015     392
2014     663
2013     803
2012    1310
2011    1623
2010    1589
2009    2085
2008    2215
2007    2277
2006    2670
2005    2936
2004    2703
2003    2699
2002    2486
2001    2636
2000    3156
1999    2897
Name: registration_year, dtype: int64

After we've done some basic analysis on price and odometer reading, we now want to understand the date range that the data covers. There are 5 columns that represent date values. Some of these were created by the crawler, and some came from the website itself. These include:
* data_crawled (crawler)
* last_seen (crawler)
* ad_created (website)
* registration_month (website)
* registration_year (website)

Date_crawled, last_seen, and ad_created are currently all identified as strings, but we need to convert it to a numeric representation so we can understand it quantitatively. (The other columns we can use Series.describe() to understand the distribution without any additional processing, for example.)

The first 10 characters represent the day, so we can just extract those

In [127]:
autos_cleaned['date_crawled'].str[:10].head(5)

0    2016-03-26
2    2016-03-26
3    2016-03-12
4    2016-04-01
5    2016-03-21
Name: date_crawled, dtype: object

In [128]:
autos_cleaned["date_crawled"] = autos_cleaned["date_crawled"].str[:10]
autos_cleaned["ad_created"] = autos_cleaned["ad_created"].str[:10]
autos_cleaned["last_seen"] = autos_cleaned["last_seen"].str[:10]

In [129]:
# To include missing values in the distribution and to use percentages
# instead of counts, chain the Series.value_counts method 
autos_cleaned["date_crawled"].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2016-03-05    0.025715
2016-03-06    0.013971
2016-03-07    0.036551
2016-03-08    0.033086
2016-03-09    0.032866
2016-03-10    0.032563
2016-03-11    0.032783
2016-03-12    0.037761
2016-03-13    0.016309
2016-03-14    0.036991
2016-03-15    0.033856
2016-03-16    0.028465
2016-03-17    0.031078
2016-03-18    0.012871
2016-03-19    0.036029
2016-03-20    0.038284
2016-03-21    0.038174
2016-03-22    0.032701
2016-03-23    0.032343
2016-03-24    0.028768
2016-03-25    0.030666
2016-03-26    0.032508
2016-03-27    0.030721
2016-03-28    0.034021
2016-03-29    0.033718
2016-03-30    0.033278
2016-03-31    0.031986
2016-04-01    0.034461
2016-04-02    0.035726
2016-04-03    0.038256
2016-04-04    0.035781
2016-04-05    0.013256
2016-04-06    0.002970
2016-04-07    0.001485
Name: date_crawled, dtype: float64

In [130]:
autos_cleaned["last_seen"].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2016-03-05    0.001128
2016-03-06    0.003905
2016-03-07    0.005033
2016-03-08    0.007206
2016-03-09    0.009873
2016-03-10    0.010589
2016-03-11    0.012486
2016-03-12    0.023130
2016-03-13    0.008526
2016-03-14    0.012816
2016-03-15    0.016117
2016-03-16    0.016447
2016-03-17    0.027970
2016-03-18    0.007096
2016-03-19    0.015539
2016-03-20    0.020462
2016-03-21    0.020902
2016-03-22    0.021480
2016-03-23    0.018922
2016-03-24    0.019334
2016-03-25    0.018234
2016-03-26    0.016282
2016-03-27    0.014961
2016-03-28    0.020902
2016-03-29    0.022387
2016-03-30    0.024422
2016-03-31    0.024147
2016-04-01    0.023460
2016-04-02    0.025385
2016-04-03    0.024505
2016-04-04    0.024120
2016-04-05    0.125495
2016-04-06    0.223350
2016-04-07    0.133388
Name: last_seen, dtype: float64

In [131]:
autos_cleaned["ad_created"].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2015-06-11    0.000028
2015-08-10    0.000028
2015-09-09    0.000028
2015-11-10    0.000028
2015-12-30    0.000028
2016-01-03    0.000028
2016-01-10    0.000055
2016-01-13    0.000028
2016-01-14    0.000028
2016-01-16    0.000028
2016-01-27    0.000028
2016-02-01    0.000028
2016-02-02    0.000055
2016-02-05    0.000055
2016-02-07    0.000028
2016-02-09    0.000028
2016-02-11    0.000028
2016-02-12    0.000055
2016-02-14    0.000028
2016-02-16    0.000028
2016-02-17    0.000028
2016-02-18    0.000055
2016-02-19    0.000055
2016-02-20    0.000055
2016-02-21    0.000083
2016-02-22    0.000028
2016-02-23    0.000110
2016-02-24    0.000055
2016-02-25    0.000083
2016-02-26    0.000055
                ...
2016-03-09    0.032948
2016-03-10    0.032261
2016-03-11    0.033168
2016-03-12    0.037404
2016-03-13    0.017629
2016-03-14    0.035726
2016-03-15    0.033581
2016-03-16    0.028905
2016-03-17    0.030831
2016-03-18    0.013394
2016-03-19    0.035121
2016-03-20    0.038311
2016-03-21    0.038449
2016-03-22    0.032508
2016-03-23    0.032151
2016-03-24    0.028685
2016-03-25    0.030886
2016-03-26    0.032618
2016-03-27    0.030528
2016-03-28    0.034158
2016-03-29    0.033608
2016-03-30    0.033086
2016-03-31    0.032151
2016-04-01    0.034406
2016-04-02    0.035341
2016-04-03    0.038504
2016-04-04    0.036111
2016-04-05    0.012074
2016-04-06    0.003053
2016-04-07    0.001320
Name: ad_created, Length: 71, dtype: float64

In [132]:
autos_cleaned["registration_year"].describe()

count    36360.000000
mean      2005.537074
std          4.602175
min       1999.000000
25%       2002.000000
50%       2005.000000
75%       2009.000000
max       2016.000000
Name: registration_year, dtype: float64

After I filtered out cars that had a registration year outside of 1999-2016 (as the data set ends in 2016), it looks like the average is around 2006 with a standard deviation of 5.14 years.

In [133]:
autos_cleaned["registration_year"].value_counts(normalize=True)

2000    0.086799
2005    0.080748
1999    0.079675
2004    0.074340
2003    0.074230
2006    0.073432
2001    0.072497
2002    0.068372
2007    0.062624
2008    0.060919
2009    0.057343
2011    0.044637
2010    0.043702
2012    0.036029
2016    0.033553
2013    0.022085
2014    0.018234
2015    0.010781
Name: registration_year, dtype: float64

After removing all registration years before 1999 and after 2016, the years 1999-2006 seem to have the highest proportion of registration years. I'd imagine newer cars would likely not be sold through eBay, so this makes sense.

# Practicing Aggregation

One of the other analysis techniques that this section went over is aggregation. We can apply this to the "brand" column to investigate variation across different car brands. The process works as follows:
* Identify the unique values that you want to aggregate by
* Create an empty dictionary to store aggregate data
* Loop over unique values, and for each one, subset the data frame by the unique values, calculate the mean of the column you're interested in, and assign the value/mean to the dictionary as key-value pairs.

In [134]:
uniqueBrands = autos_cleaned["brand"].unique()
print(uniqueBrands)

['peugeot' 'volkswagen' 'smart' 'ford' 'chrysler' 'seat' 'mercedes_benz'
 'audi' 'renault' 'opel' 'mazda' 'porsche' 'mini' 'bmw' 'dacia' 'saab'
 'volvo' 'nissan' 'toyota' 'jaguar' 'fiat' 'skoda' 'sonstige_autos'
 'mitsubishi' 'chevrolet' 'kia' 'hyundai' 'honda' 'citroen' 'daewoo'
 'suzuki' 'subaru' 'land_rover' 'jeep' 'alfa_romeo' 'daihatsu' 'rover'
 'lancia' 'lada']

Given these brands, the most obvious thing to analyze would be price. I'd also be curious as to odometer reading to see if a particular brand holds up more than another or is used for longer.

In [162]:
brandCount = {}
brandPriceDict = {}
brandOdometerDict = {}

for brand in uniqueBrands:
    brandSubset = autos_cleaned["brand"] == brand
    brandCount[brand] = autos_cleaned[brandSubset].price.count()
    brandPriceDict[brand] = autos_cleaned[brandSubset].price.mean()
    brandOdometerDict[brand] = autos_cleaned[brandSubset].odometer_km.mean()

print("Mean cost of cars for a particular brand:\n")
for key,val in sorted(brandPriceDict.items(), key=lambda x:x[1], reverse=True):
    brandPriceDict[brand]
    print(key,':',val)

Mean cost of cars for a particular brand:

porsche : 46973.014285714286
land_rover : 20912.819277108432
jeep : 14082.328947368422
sonstige_autos : 13818.476377952757
jaguar : 12157.490566037735
audi : 11168.897262380806
mini : 10687.29
bmw : 10101.080620549339
mercedes_benz : 9834.6163124641
volkswagen : 6817.089204545455
skoda : 6574.456639566396
chevrolet : 6379.410628019324
volvo : 6273.364912280702
kia : 6159.652037617555
dacia : 5915.528455284553
toyota : 5766.423935091278
nissan : 5593.367567567568
hyundai : 5504.7400881057265
honda : 5491.947598253275
subaru : 5300.734375
seat : 5045.277624309392
mazda : 4797.068100358423
suzuki : 4704.533039647577
mitsubishi : 4081.639175257732
chrysler : 4078.1008403361343
saab : 4024.4893617021276
ford : 3943.5946148092744
citroen : 3889.7677966101696
opel : 3657.656191243621
smart : 3599.0518292682927
alfa_romeo : 3551.4269230769232
peugeot : 3395.2054009819967
lada : 3038.0
fiat : 3015.73556231003
renault : 2816.614133482894
lancia : 2314.818181818182
rover : 1841.4318181818182
daihatsu : 1835.4315789473685
daewoo : 1104.6935483870968

As we might expect, porsches are the most expensive. I'm not sure if jaguar was supposed to be the same as "land_rover" and "rover", so it's interesting to me that there could be such a difference in price range. I also expected BMWs to be more expensive, but given that this is a German eBay and BMW is a German company, it actually makes sense they'd be cheaper (and that there would be so many of them.) 

There's a lot of random brands, so we'll focus on brands that have more than 5% of total listings.

In [154]:
brandProps = autos_cleaned["brand"].value_counts(normalize=True).head(5)
commonBrands = brandProps[brandProps > 0.05].index
print(commonBrands)

commonBrandCount = {}
commonBrandPriceDict = {}
commonBrandOdoDict = {}

for brand in commonBrands:
    brandSubset = autos_cleaned["brand"] == brand
    commonBrandCount[brand] = autos_cleaned[brandSubset].price.count()
    commonBrandPriceDict[brand] = autos_cleaned[brandSubset].price.mean()
    commonBrandOdoDict[brand] = autos_cleaned[brandSubset].odometer_km.mean()

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi'], dtype='object')

In [163]:
print("Mean odometer reading in km of cars for a particular brand:\n")
for key,val in sorted(commonBrandOdoDict.items(), key=lambda x:x[1], reverse=True):
    print(key,':',val,' : n = ', commonBrandCount[key])

Mean odometer reading in km of cars for a particular brand:

bmw : 129340.03051881994  : n =  3932
mercedes_benz : 128454.91097070649  : n =  3482
opel : 127601.39672307279  : n =  3723
audi : 125282.98984927715  : n =  3251
volkswagen : 124800.42613636363  : n =  7040

This could be a factor of registration years (in future work I might analyze the average registration year for each of those brands.) Actually, let me just do that now:

In [159]:
regYearbyBrand = {}

for brand in commonBrands:
    brandSubset = autos_cleaned["brand"] == brand
    regYearbyBrand[brand] = autos_cleaned[brandSubset].registration_year.mean()

print("Mean registration year for a particular brand:\n")
for key,val in sorted(regYearbyBrand.items(), key=lambda x:x[1], reverse=False):
    print(key,':',val,' : n = ', brandCount[key])

Mean registration year for a particular brand:

opel : 2004.7625570776256  : n =  3723
mercedes_benz : 2005.0666283744974  : n =  3482
bmw : 2005.5645981688708  : n =  3932
volkswagen : 2005.8241477272727  : n =  7040
audi : 2006.4143340510611  : n =  3251

If all brands are included, Rover, Lancia, Saab, Daewoo, and Chrysler had the oldest registration years (around 2001-2003), yet Saab, Volvo, Rover, Alfa Romeo, and Chysler had the largest odometer readings. That said, the sample size on those were not particular large, so it's not fair to say that those cars last longer or anything like that.

Giveen the subset of common brands, the mean registration year was about the same.

I'm going to practice some more making different tables.

In [164]:
brandAvgMileage = {}

for brand in commonBrands:
    brandSubset = autos[autos["brand"] == brand]
    avgMileage = brandSubset["odometer_km"].mean()
    brandAvgMileage[brand] = int(avgMileage)

avgMileage = pd.Series(brandAvgMileage).sort_values(ascending=False)

In [165]:
brand_info = pd.DataFrame(avgMileage,columns=['avgMileage'])
brand_info

               avgMileage
bmw                132521
mercedes_benz      130886
audi               129643
opel               129298
volkswagen         128955

The range of car mileage doesn't seem to vary as much as the price does by brand.